body{
  background-color: aquamarine;
}

/* Contenido */

#contenedor {
  display: flex;
  text-align: center;
  /*flex-wrap: wrap;
  justify-content: center;
  align-items: center; /*centrar vertical horizontal*/
  min-height: 20vh; /*altura minima del contenedor 80% dela ventana*/
  width: 50vh;
  max-width: 600px; /*su ancho maximo sera de 550px aun en pantalla grande*/
  background-color: white;
  border: 4px solid black;
  margin: 1rem;
}


h1{
  font-size: 2rem;
  width: 100%; /*100% ancho de su contenedor*/
  margin: 15px 10px;
  padding: 8px;
}